body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

*{
    box-sizing: border-box;
}

#join-screen {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#join-screen h2 {
    margin-top: 0;
}

#join-screen input[type = 'text'] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#join-button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#participant-view{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#participant-view video{
    width: 230px;
}